[user]
  name = <Your Name>
  email = <Your Email>
[diff]
[color.diff]
  meta = yellow
  new = green reverse
  whitespace = red reverse
[color]
    ui = auto
[alias]
    st = status
    ci = commit --verbose
    co = checkout
    di = diff -w
    dc = diff --cached -w
    noff = merge --no-ff